#cat {
    width: 700px;
}

#cat img {
    max-width: 700px;
    max-height: 500px;
    position: absolute;
}

#selects {
    position: absolute;
    margin-top: 500px;
    margin-left: 50px;
    z-index: 2;
}



#eyesimg, #pupilsimg, #linesimg, #fluffimg, #earsimg, #skinimg, #lefteyeimg, #leftpupilimg {
    z-index: 200;
}

#eyeshadeimg {
    z-index: 201;
}

.scarimage {
    z-index: 202;
}

#collarimg, #collarlinesimg, #collarthingimg, #bellimg, #belllinesimg {
    z-index: 203;
}

.dogteethimg {
    z-index: 204;
}

#name {
    position: absolute;
    margin-left: 700px;
    margin-top: 70px;
}

.column {
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    vertical-align: top;
}

#mark0img {
    z-index: 1;
}
#mark1img {
    z-index: 2;
}
#mark2img {
    z-index: 3;
}
#mark3img {
    z-index: 4;
}
#mark4img {
    z-index: 5;
}
#mark5img {
    z-index: 6;
}
#mark6img {
    z-index: 7;
}
#mark7img {
    z-index: 8;
}
#mark8img {
    z-index: 9;
}
#mark9img {
    z-index: 10;
}
#mark10img {
    z-index: 11;
}
#mark11img {
    z-index: 12;
}
#mark12img {
    z-index: 13;
}
#mark13img {
    z-index: 14;
}
#mark14img {
    z-index: 15;
}
#mark15img {
    z-index: 16;
}
#mark16img {
    z-index: 17;
}
#mark17img {
    z-index: 18;
}
#mark18img {
    z-index: 19;
}
#mark19img {
    z-index: 20;
}
#mark20img {
    z-index: 21;
}