#cat {
    width: 700px;
}

#cat img {
    width: 700px;
    position: absolute;
}

#selects {
    position: absolute;
    margin-top: 500px;
    margin-left: 50px;
    z-index: 2;
}



#eyesimg, #pupilsimg, #linesimg, #fluffimg, #earsimg, #skinimg, #lefteyeimg, #leftpupilimg {
    z-index: 2;
}

#eyeshadeimg {
    z-index: 3;
}

#name {
    position: absolute;
    margin-left: 320px;
    margin-top: 70px;
}